@import './normalize.css';
@import 'fonts/fonts.css';
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Inter', sans-serif;
}

.ant-pagination {
  text-align: center;
}